<div class="w-full border-b-2 fixed bg-white">
  <div class="flex items-center px-20 py-4">
    <div class="flex-1 font-bold text-2xl text-[#ff385c] font_bello">
      <a routerLink="/areas" class="flex gap-2">
        <img
          src="https://cdn.icon-icons.com/icons2/2699/PNG/512/airbnb_logo_icon_170605.png"
          class="h-8 w-8"
        />
        airbnb
      </a>
    </div>
    <div class="flex-1">Something</div>
    <div class="pl-14 flex gap-4 w-80 items-center">
      <div class="font-semibold w-32">Airbnb your home</div>
      <div>O</div>
      <div class="border flex items-center px-1 py-1.5 gap-2 rounded-full">
        <div class="h-8 w-8 rounded-full flex items-center justify-center">
          s
        </div>
        <div
          class="bg-gray-400 h-8 w-8 rounded-full flex items-center justify-center"
        >
          s
        </div>
      </div>
    </div>
  </div>
</div>
